html,
body{
    margin: 0;
    padding: 2vh;
}

body{
    padding-top: 70px;
    font-family: 'Montserrat', sans-serif;
    /* background-image: url("img/fondocolores.png");*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.navbar-azul{
    background-color: #2c3b77;
}

.btn-volver{
    background-color: white;
    color: #2c3b77;
    border: 2px solid white;
    border-radius: 30px;
    font-weight: 600;
    transition: .3s;
    text-decoration: none;
    padding: 8px 20px;
}

.btn-volver:hover{
    background-color: #e01505;
    border-color: #e01505;
    color: white;
}