html{
    scroll-behavior: smooth;
}

body{
    padding-top: 70px;
}

#quienes-somos,
#staff,
#talleres,
#inscribirse,
#contacto {
    scroll-margin-top: 80px;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}