html,
body{
    margin: 0;
    padding: 0;
}

body{
    padding-top: 70px;
    font-family: Montserrat, sans-serif;
    background-image: url("img/fondocolores.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Navbar */
.navbar-azul{
    background-color: #2c3b77;
}

/* Contenedor */
.login-section{
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

/* Tarjeta */
.login-card{
    width: 100%;
    max-width: 450px;
    background: rgba(255,255,255,.95);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,.25);
}

/* Título */
.login-card h2{
    color: #2c3b77;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}

/* Botón */
.boton-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-login {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: #a71d2a;
    color: white;
    transform: scale(1.05);
}
/* Botón volver */
.btn-volver{
    background-color: white;
    color: #2c3b77;
    border: 2px solid white;
    border-radius: 30px;
    font-weight: 600;
    transition: .3s;
}

.btn-volver:hover{
    background-color: #e01505;
    border-color: #e01505;
    color: white;
}

/* Link volver */
.volver{
    color: #2c3b77;
    text-decoration: none;
    font-weight: 600;
}

.volver:hover{
    color: #e01505;
}

.login-card input{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-sizing: border-box;
}